<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <a [routerLink]="'/'">
    OCB
  </a>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" [routerLink]="['/products']">Product</a>
    <a class="p-2 text-dark" [routerLink]="['/categories']">Category</a>
    <a class="p-2 text-dark" [routerLink]="['/user']">User</a>
    <a class="p-2 text-dark" [routerLink]="['/restaurants']">Restaurant</a>
    <a class="p-2 text-dark" [routerLink]="['/control']">Control</a>
    <a class="p-2 text-dark" [routerLink]="['/crypto']">Crypto</a>
  </nav>
  <div *ngIf="userInfo.UserId == null" >
    <a class="btn btn-outline-primary" [routerLink]="['/login']" style="margin-right: 10px;">Login</a>
    <a class="btn btn-outline-primary" [routerLink]="['/register']">Register</a>
  </div>
  <div *ngIf="userInfo.UserId != null">
    Hi: {{userInfo.UserFullName}}
    <a class="btn btn-outline-primary" (click)="onLogout()">Logout</a>
  </div>
</div>
